<div class="big-image" data-slide="bigImage">
  <li><div class="slide red"><span>1</span></div></li>
  <li><div class="slide blue"><span>2</span></div></li>
  <li><div class="slide yellow"><span>3</span></div></li>
  <li><div class="slide green"><span>4</span></div></li>
  <li><div class="slide gray"><span>5</span></div></li>
</div>