<div class="inner_box" data-slide="wrapper">
  <div class="banner_content">
    <ul class="banner_list" data-slide="list">
      <li>
        <a href="" class="thum"><div class="slide red"><span>1</span></div></a>
      </li>
      <li>
        <a href="" class="thum"><div class="slide blue"><span>2</span></div></a>
      </li>
      <li>
        <a href="" class="thum"><div class="slide yellow"><span>3</span></div></a>
      </li>
      <li>
        <a href="" class="thum"><div class="slide gray"><span>4</span></div></a>
      </li>
    </ul>
  </div>
  <div class="pager-wrap" data-slide="pagination">
    <ol class="pager-inner">
      <li class="pager-item on" data-slide="page">1</li>
      <li class="pager-item" data-slide="page">2</li>
      <li class="pager-item" data-slide="page">3</li>
      <li class="pager-item" data-slide="page">4</li>
    </ol>
  </div>
  <a class="arrow left" data-type="prev" data-slide-arrow="PREV" style="display: none;">
    <span class="fa fa-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <a class="arrow right" data-type="next" data-slide-arrow="NEXT" style="display: none;">
    <span class="fa fa-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Right</span>
  </a>
</div>
